html, body {
  height: 100%;
  margin: 0px 0px 0px 0px;
}

body {
  display: flex;
}

#center-main {
  height: 100%;
  display: flex;
  align-items: center;
}

#forms {
  display: flex;
  border: 1px solid black;
  height: 300px;
}

#main {
  width: 100%;
}

label {
  display: block;
}

#formtable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#img {
  overflow: hidden;
  background-image: url("./images/fern-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 100%;
}
